<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>

        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	        {% set csrfToken = csrf_token(app.request.session.getId()) %}
	        {# CSFR токен для проверки AJAX запросов #}
	        <meta content="authenticity_token" name="csrf-param" />
	        <meta content="{{ csrfToken }}" name="csrf-token" />
        {% endblock %}
        {% block stylesheets %}
	        {% if app.debug %}
		        <link rel="stylesheet" href="{{ asset('css/lib.css') }}">
		        <link rel="stylesheet" href="{{ asset('css/adminka.css') }}">
	        {% else %}
		        <link rel="stylesheet" href="{{ asset('css/lib.min.css') }}">
		        <link rel="stylesheet" href="{{ asset('css/adminka.min.css') }}">
	        {% endif %}
        {% endblock %}
        {% block javascripts %}
	        <script src="{{ asset('js/lib.js') }}"></script>
	        <script src="{{ asset('js/app.js') }}"></script>
	        <script src="{{ asset('js/adminka.js') }}"></script>
	        <script src="{{ asset('js/bs-table.js') }}"></script>


        {% endblock %}
	    {% spaceless %}
		    <title>{% block head_title %} titletitle {% endblock %}</title>
	    {% endspaceless %}
    </head>
    <body class="sonata-bc skin-black fixed" >

	    {% block header %}
		     <header class="navbar navbar-default navbar-fixed-top navbar-inner">
			     <div class="navbar-header">
				     <a href="{{ path('adminka.home') }}" role="button" class="navbar-brand">Admin Panel</a>
			     </div>
			     {% include 'AppBundle:Adminka:navbar.html.twig' %}
		    </header>
	    {% endblock header %}
	    {% block wrapper %}
		    <div class="wrapper">

			    {% block sidebar_left %}
				    {% include 'AppBundle:Adminka:sidebar_left.html.twig' %}
			    {% endblock sidebar_left %}
			    <div class="content-wrapper">
				    {% block content_header %}
					    <div class="page-heading">
						    <h1>{% block h1 %}page_title <small>page_title_comm</small>{% endblock h1 %}</h1>
					    </div>
					    <ol class="breadcrumb">
						    <li><a href="{{ path('adminka.home') }}">Admin Panel</a></li>
						    <li><a href="#">UI Elements</a></li>
						    <li class="active"><a href="ui-buttons.html">Buttons</a></li>
					    </ol>
				    {% endblock content_header %}

				    <section class="container-fluid">
					    {% block content %}
						    container-fluid
					    {% endblock content %}
					</section>

			    </div>
		    </div>
	    {% endblock wrapper %}

    </body>
</html>

{#<div ng-controller="MainCtrl">#}
	{#<ul>#}
		{#<li ng-repeat="item in items">#}
			{#[[item.name]] [[item.id]]#}
		{#</li>#}
	{#</ul>#}
{#</div>#}

{#<div ng-controller="AppCtrl">#}
	{#[[ someValue ]]#}
{#</div>#}
